.radio {
    /* background-image: url('../Vector.png');
    background-size: 20px;
    cursor:; */
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    gap: 11px;

}

.options {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #000;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
