.spanBlock {
    display: flex;
    align-items: center;
}

.span {
    color: #0080FF;
    color: #0080FF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input {
}

.pen {
    margin-right: 10px;
}